*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeSpeed;
}

body{
    font-size: 1.6rem;
    min-height: 100vh;
    direction: ltr;
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
}

.container{
    padding: 1.5rem 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom: 50px;
}

.box{
   width: 200px;
   height: 200px;
   line-height: 200px;

   border-radius: 2rem;
   color:  rgb(255, 255, 255);
   background-color: rgb(17, 105, 105);

   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 2rem;
   cursor: pointer;
}

.box-animista {
    animation-duration: 0.8s !important;
}

.box-animista-2 {
    animation-duration:0.7s !important;
    
}

h2{
    text-align: center;
}


.box-animate-C {
    animation-duration: 0.9s !important;
}

.box-animate-D {
    animation-duration:0.9s !important;
    
}